[data-theme="dark"] :root {
  --bg: #202123;
  --grey: #2b2c2e;
  --lgrey: #313234;
  --ltext: #8E8E8F;
  --text: #FAFAFA;
  --icons: #353638;
  --highlights: #1A1B1D;
  --accent: #738cfe;
}

.navbar-default .navbar-collapse {
  border: none !important;
}

html { 
          font-family: Helvetica; 
          display: inline-block; 
          margin: 0px auto; 
          text-align: center;
          font-size: 30px; 
        }
        input {
          font-size: 15px; 
        }

        table,
        td {
            border: 1px solid #333;
          margin-left: auto;
          margin-right: auto;
        }
        th, td {
          padding: 15px;
           text-align: center;
        }
        thead,
        tfoot {
          margin-left: auto;
          margin-right: auto;
            background-color: #333;
            color: #fff;
        }

body { padding-bottom: 70px; }

.slider-label { padding-left: 0px; text-align: left !important; }

